<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="video-preview">
      <div class="thumbnail-v">
        <img class="thumbnail" src="{{thumbnail}}" alt="" />
      </div>
      <div class="content-info-grid">
        <div class="channel-pic">
          <img class="logo" src="{{channelLogo}}" alt="" />
        </div>
        <div class="text-detail-h">
          <p class="title-video-p">{{title}}</p>
          <p class="content-creator-name">{{creator}}</p>
          <p class="content-view">{{views}} &#183; {{timeAgo}}</p>
        </div>
      </div>
    </div>
  </body>
</html>
