.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 0px 10px;
  overflow-y: hidden;
  background-color: white;
  z-index: 2;
}

.sidebar a{
  text-decoration: none;
  color: black;
  
}

.sidebar:hover {
  overflow-y: auto;
}

.side-row1,
.side-row2 {
  border-bottom: 1px solid rgb(228, 228, 228);
}

.side-pic {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  flex-shrink: 0; /*maintain yung size*/
  border-radius: 50%;
}

.item-container {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.item-container .tooltip {
  position: absolute;
  font-size: 12px;
  pointer-events: none;
  white-space: nowrap;
  right: 5px;
  bottom: -5px;
  display: none;
}

.item-container:hover .tooltip {
  display: block;
}

.side-text {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; /*para nde mag wrap or mag create ng second line*/
  flex-grow: 1; /*takes up remaining space*/
}

.item-container:hover {
  border-radius: 15px;
  background-color: #eeeeee;
}

/* Media Queries */
@media (max-width: 1308px) {
  body {
    padding-left: 120px;
  }

  p {
    font-size: 11px;
  }

  .sidebar {
    width: 80px;
  }

  .side-row1 {
    border: none;
  }

  .item-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .side-row2,
  .side-row3 {
    display: none;
  }

  .side-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 712px) {
  .sidebar {
    display: none;
  }

  body {
    padding-left: 25px;
  }
}